/**
 * Theme Name: Life Supports
 * Theme URI: http://octoply.com.au
 * Description: This theme has been built on the Octoply framework, which is a fork of Bones. 
 * Author: Nathan & Step
 * Author URI: http://greengraphics.com.au
 * Version: 1.0.18
 * Bitbucket Theme URI: https://bitbucket.org/ngearing/lifesupports
 * Bitbucket Branch: master
 */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #003E7E;
  font-weight: 500;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #003E7E;
  font-weight: 500;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #003E7E;
  font-weight: 500;
}
:-moz-placeholder { /* Firefox 18- */
  color: #003E7E;
  font-weight: 500;
}

img {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

h1, .h1 {
    color: #003E7E;
}

h2, .h2 {
    color: #4D4D4D;
    font-weight: 500;
}

p:empty {
    margin: 0;
}


.row {
    margin-left: -10px;
    margin-right: -10px;
}

[class*='col-'] {
    float: left;
    padding: 0 10px;
}
.col-1 {width: 8.333%;}
.col-2 {width: 16.667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333%;}
.col-5 {width: 41.667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333%;}
.col-8 {width: 66.667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333%;}


.header {
    position: relative;
}

.header .site-branding {
    margin: 0;
    width: 40%;
}

.site-title {
    margin: 0;
}
.site-title.no-logo {
    margin: 50px 0;
}

.site-title a,
.site-title img {
    display: block;
    margin: 0 auto;
}


.header #flaghead .phone {
    color: #003E7E;
    font-size: 30px;
    margin: 15% 0;
}

.header #flaghead .phone #numdiv_10833_0 {
    color: #003E7E;
    font-size: 34px;
    font-weight: 900;
    text-decoration: none;
}

.header #inner-header {
    bottom: -44px;
    margin-top: -44px;
    position: relative;
}

.header #navigation {
    background: transparent;
    clear: both;
    height: auto;
    margin-top: 0;
    overflow: hidden;
}

.header #navigation #navigation-inner {}

.header nav {
    margin-top: 0px;
}

.header nav .nav {
    background: #00AEEF;
    -webkit-border-radius: 12px 0 0 0;
            border-radius: 12px 0 0 0;
    height: auto;
    margin: 0;
    padding-left: 5px;
    position: relative;
}

.header nav .nav::after {
    background: #00AEEF;
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 50%;
    width: 100%;
    z-index: -1;
}


.menu-toggle {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: none;
    font: inherit;
    float: right;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-shadow: none;
    text-transform: none;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
}
.menu-toggle:active,
.menu-toggle:hover {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.menu-toggle-box {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
}
.menu-toggle-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-toggle.toggled .menu-toggle-inner {
-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0.14s;
            transition-delay: 0.14s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-toggle-inner,
.menu-toggle-inner::before,
.menu-toggle-inner::after {
    width: 30px;
    height: 4px;
    background-color: white;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
}
.menu-toggle-inner::before,
.menu-toggle-inner::after {
    content: "";
    display: block;
}
.menu-toggle-inner::before {
    -webkit-transition: top 0.1s 0.14s ease, opacity 0.1s ease;
    transition: top 0.1s 0.14s ease, opacity 0.1s ease;
    top: -10px;
}
.menu-toggle.toggled .menu-toggle-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease, opacity 0.1s 0.14s ease;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.menu-toggle-inner::after {
    bottom: -10px;
    
    transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-toggle.toggled .menu-toggle-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-property: bottom, transform, -webkit-transform;
    -webkit-transition-duration: 0.1s, 0.1s, 0.1s;
            transition-duration: 0.1s, 0.1s, 0.1s;
    -webkit-transition-timing-function: ease, cubic-bezier(0.215, 0.61, 0.355, 1), cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: ease, cubic-bezier(0.215, 0.61, 0.355, 1), cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition-delay: initial, 0.14s, 0.14s;
            transition-delay: initial, 0.14s, 0.14s;
    -webkit-transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.main-navigation.toggled ul {
    display: block;
}


.header #head-banner {
    background-color: #003E7E;
    padding: 32px 25px;
}

.header #head-banner .wrap {
    max-width: none;
}

.header #head-banner .getmore {
    float: left;
    font-size: 17px;
    margin: 0;
    padding-left: 0;
    padding-right: 32px;
    position: relative;
    text-align: left;
    width: auto;
}

#sidebarMobile {
    border-left: 2px dotted rgba(255,255,255,0.7);
    padding-left: 32px;
    width: auto;
}

.getmore h4,
.sidebar .widget_w_findhelp h4 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 12px;
}

.sidebar .widget_w_findhelp form {
    width: 300px;
}

.getmore .dk_container,
.sidebar .widget_w_findhelp input[type="text"] {
    border: none;
    -webkit-border-radius: 12px;
            border-radius: 12px;
    display: block;
    color: #003E7E;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 0;
    padding: 8px 12px;
    width: 295px;
}

.getmore .dk_options_inner {
    width: 100%;
}

.sidebar .widget_w_findhelp input[type="text"] {
    width: 81%;
}

.sidebar .widget_w_findhelp input[type="submit"] {
    background-color: #00B6AD;
    -webkit-border-radius: 12px;
            border-radius: 12px;
    height: auto;
    font-size: 17px;
    line-height: 1.5;
    padding: 8px;
}

#content #inner-content {
    background: none;
}

.widget:not(.widget_w_findhelp) {
    background-color: white;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 12px;
            border-radius: 12px;
    padding: 16px;
}

.widgettitle,
#sidebar1 .widgettitle {
    color: #4D4D4D;
    font-size: 20px;
    font-weight: 700;
}
.widget_w_appointment .widgettitle,
#sidebar1 .widget_w_appointment .widgettitle {
    color: #00AEEF;
}

.widget_w_appointment p {
    font-size: 12px;
    margin-bottom: 0.5em;
}

.sidebar .sidebar-phone {
    color: #003E7E;
}

.counsellor-minibox > .col-5 {
    padding-right: 0;
}

.counsellor-minibox > a {
    text-align: right;
}

.counsellor-minibox img {
    border: none;
    float: none;
    margin: 0;
    max-width: 100%;
}

.readmore {
    clear: both;
    display: block;
}

.profilepic {}

img.counsellorpic {
    max-width: 100%;
    margin: 0;
}

.profile-right {
    margin: 0;
}

.qualifications {
    font-size: 14px;
    line-height: 1.4;
}

.single-counsellor p {
    margin-bottom: 16px;
}

.appts {
    border-top: 1px solid #d9d9d9;
    margin-top: 16px;
    padding-top: 16px;
}

#second-content .entry-content img {
    margin-bottom: 0;
}

.logos {

}

.logos img {
    height: auto;
    max-height: 45px;
    max-width: 100%;
}

@media screen and (max-width: 960px) {
    .header #inner-header {
        margin-top: 0;
        bottom: 0;
        padding: 20px 20px 0;
    }

    .header #navigation {
        z-index: inherit;
    }

    .menu-toggle {
        background-color: #00AEEF;
        -webkit-border-radius: 5px 0 0;
                border-radius: 5px 0 0;
        display: block;
        padding: 16px 16px 8px;
        position: relative;
        z-index: 9999;
    }

    .main-navigation #menu-top-nav {
        background: #00AEEF;
        -webkit-border-radius: 0;
                border-radius: 0;
        bottom: 0;
        display: block;
        left: -200px; 
        padding: 64px 8px;
        position: fixed;
        top: 0; 
        -webkit-transition: left 0.3s ease;
                transition: left 0.3s ease;
        width: 200px;
        z-index: 9999;
    }
    .main-navigation.toggled #menu-top-nav {
        left: 0;
    }
    .main-navigation #menu-top-nav::after {
        display: none;
        content: '';
    }

    .sidebar {
        padding: 32px 20px;
    }

    .widget_w_spotlight::before, .widget_w_spotlight::after {clear: both; content: ''; display: table;}
}

@media screen and (max-width: 768px) {
    .header #head-banner .getmore,
    #sidebarMobile {
        width: 50%;
    }

    .getmore .dk_container, 
    .sidebar .widget_w_findhelp form {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .header .site-branding {
        width: 100%;
    }

    .header #flaghead {
        background-color: #D9D9D9;
        clear: both;
        display: block;
        float: none;
        margin: 0 -20px;
        padding: 20px;
        text-align: center;
        width: auto;
    }

    .header #flaghead .phone {
        display: block;
        margin: 0;
    }

    .menu-toggle {
        -webkit-border-radius: 0 0 0 5px;
                border-radius: 0 0 0 5px;
    }

    .header #head-banner {
        height: auto;
    }

    .header #head-banner .getmore,
    #sidebarMobile {
        float: none;
        display: block;
        padding: 0 0 15px;
        width: 100%;
    }

    #sidebarMobile {
        border-left: none;
        border-top: 2px dotted rgba(255,255,255,0.7);
        padding-top: 15px;
    }

    .sidebar .widget_w_findhelp h4 {
        text-align: left;
    }

    .arrowHold {
        height: 28px;
        margin: 14px auto -14px;
        text-align: center;
        width: 24px;
    }
}

@media screen and (max-width: 330px) {
    .header #flaghead .phone #numdiv_10833_0 {
        font-size: 30px;
    }
}


