/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in S4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}
b,
strong,
.strong {
  font-weight: bold;
}
dfn,
em,
.em {
  font-style: italic;
}
small,
.small {
  font-size: 75%;
}
ul,
ol {
  padding: 0;
  list-style-type: none;
}
dd {
  margin: 0;
}
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #be0d37;
  border-top-color: #db0f3f;
  border-left-color: #db0f3f;
  padding: 4px 12px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e40f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
  background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
  background-image: linear-gradient(to bottom, #f01d4f, #e40f42);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #be0d37;
  border-top-color: #9d0a2d;
  border-left-color: #9d0a2d;
  background-color: #cc0e3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
  background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: linear-gradient(to bottom, #e40f42, #cc0e3b);
}
.button:active,
.button:visited:active {
  background-color: #f01d4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
  background-image: -webkit-linear-gradient(top, #e40f42, #f01d4f);
  background-image: linear-gradient(to bottom, #e40f42, #f01d4f);
}
.blue-button,
.blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
.blue-button:active,
.blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER SYTLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/
/*********************
01. GENERAL STYLES
*********************/
html,
body {
  /* height: 100%; */

}
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #263138;
  min-width: 960px;
}
/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
03. LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 960px;
  margin: 0 auto;
}
/*********************
04. LINK STYLES
*********************/
a,
a:visited {
  color: #003E7E;
  /* on hover */

  /* on click */

  /* mobile tap color */

}
a:hover,
a:visited:hover,
a:focus,
a:visited:focus {
  color: #004e72;
  text-decoration: none;
}
a:link,
a:visited:link {
  /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizelegibility;
  font-weight: 400;
  /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */

  /* removing text decoration from all headline links */

}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a {
  text-decoration: none;
}
h1,
.h1 {
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 12px;
  color: #003E7E;
}
h2,
.h2 {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 12px;
}
h3,
.h3 {
  font-size: 1.125em;
  margin: 0 0 12px;
}
h4,
.h4 {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0 0 12px;
}
h5,
.h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 12px;
}
p {
  margin: 0 0 16px;
}
.single-counsellor p {
    margin: 0 0 26px;
}
/*********************
06. HEADER SYTLES
*********************/
.header #logo {
  margin: 10px 0 0;
}
/* below was background: url(../images/life-supports-logo.png) no-repeat; */

.header #logo a {
  text-indent: -9999px;
  background: url(https://d2tpsi6yxld4k6.cloudfront.net/assets/lifesupports-logo2.png) no-repeat;
  display: block;
  width: 323px;
  height: 156px;
  position: relative;
  z-index: 10;
}
.header #flaghead {
  text-align: right;
}

.footer .location-choice {
    text-align: right;
        color: #003E7E;
      font-size: 14px;
      margin-top: 30px;
      float: right;
      max-width: 30%;
    
}

.footer .location-choice select {
  width: 200px;
}


.header #flaghead .location-choice {
  color: #ccc;
  font-size: 12px;
  margin-top: 15px;
  position: relative;
}
.header #flaghead .location-choice:hover {color: #ccc;}
.location-choice .dk_label {color: #003E7E;}
.location-choice .dk_label:hover {color: #3f4c54;}

.location-choice .dk_toggle {background:none;}

/* dk toggle --- see further down  .dk_toggle {
  background: url(../images/arrow-light-blue.png) right 8px no-repeat;
  padding-right: 20px;
  color: #2cafe2;
  font-weight: bold;
  width: auto !important;
}
*/

.header #flaghead .location-choice select {
  width: 200px;
}
.header #flaghead .phone {
  color: #303e90;
  font-size: 27px;
  line-height: 1;
  font-weight: bold;
  margin-top: 25px;
}
.header #flaghead .phone span {
  color: #2cafe2;
  font-size: 18px;
  font-weight: bold;
}
.header #flaghead .phone span#numdiv_10833_0 {
  color: #303e90;
  font-size: 27px;
  line-height: 1;
  font-weight: bold;
  margin-top: 25px;
}
/* moved to bottom - new
.header #navigation {
  background: #2fb0e7;
  height: 40px;
  position: relative;
  margin-top: -25px;
}
*/
.header #navigation #navigation-white {
  height: 40px;
  width: 50%;
  background: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
}
.header #navigation #navigation-inner {
  width: 960px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}
.header #head-banner {
  background: #003E7E;
  color: #fff;
  font-size: 17px;
  text-align: center;
}
.header #head-banner .getmore {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

/* moved to bottom - new 
.header nav {
  margin-top: -41px;

}
*/

.header nav .nav {
  background: #2fb0e7 url(../images/nav-tail.jpg) top left no-repeat;
  border: 0;
  height: 40px;
  padding-left: 60px;
  float: right;
  /* end .menu ul li */

  /* highlight current page */

  /* end current highlighters */

}
.header nav .nav li {
  float: left;
  position: relative;
  /*
                plan your menus and drop-downs wisely.
                */

  /* showing sub-menus */

}
.header nav .nav li a {
  border-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  /*
                    you can use hover styles here even though this size
                    has the possibility of being a mobile device.
                    */

}
.header nav .nav li a:hover,
.header nav .nav li a:focus {
  color: #003E7E;
}
.header nav .nav li ul.sub-menu,
.header nav .nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */

}
.header nav .nav li ul.sub-menu li,
.header nav .nav li ul.children li {
  /*
                        if you need to go deeper, go nuts
                        just remember deeper menus suck
                        for usability. k, bai.
                        */

}
.header nav .nav li ul.sub-menu li a,
.header nav .nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
.header nav .nav li ul.sub-menu li:last-child a,
.header nav .nav li ul.children li:last-child a {
  border-bottom: 0;
}
.header nav .nav li:hover ul {
  top: auto;
  display: block;
}
/*********************
07. NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
  /* end .menu li */

  /* highlight current page */

  /* end current highlighters */

}
.nav ul {
  margin: 0;
}
.nav li {
  /*
        so you really have to rethink your dropdowns for mobile.
        you don't want to have it expand too much because the
        screen is so small. How you manage your menu should
        depend on the project. Here's some great info on it:
        http://www.alistapart.com/articles/organizing-mobile/
        */

}
.nav li a {
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  color: #fff;
  text-transform: uppercase;
  /*
            remember this is for mobile ONLY, so there's no need
            to even declare hover styles here, you can do it in
            the style.scss file where it's relevant. We want to
            keep this file as small as possible!
            */

}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 30px;
}
/* end .nav */
/*********************
08. POSTS & CONTENT STYLES
*********************/
#content #inner-content {
  background: #e8f1f7;
  /* Old browsers */

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZjFmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2QwZTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2QwZTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGYxZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8f1f7), color-stop(10%, #d0e3ee), color-stop(90%, #d0e3ee), color-stop(100%, #e8f1f7));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e8f1f7 0%, #d0e3ee 10%, #d0e3ee 90%, #e8f1f7 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */

  background: -webkit-gradient(linear, left top, left bottom, from(#e8f1f7), color-stop(10%, #d0e3ee), color-stop(90%, #d0e3ee), to(#e8f1f7));

  background: linear-gradient(to bottom, #e8f1f7 0%, #d0e3ee 10%, #d0e3ee 90%, #e8f1f7 100%);
  /* W3C */

  -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e8f1f7', endColorstr='#e8f1f7', GradientType=0);

          filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e8f1f7', endColorstr='#e8f1f7', GradientType=0);
  /* IE6-8 */

}
#content #second-content {
  padding-bottom: 20px;
}
#content #second-content .heading-wrap {
  margin-bottom: 20px;
}
#content #second-content .heading-wrap h2 {
    color: #263138;
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 auto;
    padding-left: 10px;
    width: 960px;
}
#content #second-content .hentry {
  width: 45%;
  margin-right: 5%;
  float: left;
  margin-bottom: 20px;
  height: 300px;
}

#content #second-content .hentry h3 {
    margin-bottom: 20px;
    line-height: 18px;
}

#content #second-content .hentry h3 a {
  color: #003E7E;
    font-size: 18px;
    font-weight: 700;
}
#content #second-content .hentry h3 a:hover {
  text-decoration: underline;
}
#content #main {
  padding: 30px 25px 30px 10px;
  background: #fff;
  margin-left: 0;
  margin-right: 0;
  width: 640px;
}

.blue_box {color: #fff; background-color: #003E7E; padding: 14px; width: 60%; float: right; text-align: center; line-height: 130%; -webkit-border-radius: 20px;
border-radius: 20px; }





body.single-post #content #main {
    width: 100%;
}


/* end .hentry */
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
.byline {
  color: #999;
}

.article-header h1,
.article-header h2 {
    font-weight: bold;
    margin-bottom: 30px;
}
/* entry content */
.entry-content {
  /*
            image alignment on a screen this size may be
            a bit difficult. It's set to start aligning
            and floating images at the next breakpoint,
            but it's up to you. Feel free to change it up.
            */

}
.entry-content ul,
.entry-content ol {
  margin-left: 45px;
}
.entry-content ul li {
  list-style: disc;
}
.entry-content ol li {
  list-style: decimal;
}
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
.entry-content img {
  max-width: 100%;
  height: auto;
  border: 3px solid #d2e8f2;
  margin-bottom: 20px;
}
.entry-content .alignleft,
.entry-content img.alignleft {
  float: left;
  margin: 0 15px 5px 0;
}
.entry-content .alignright,
.entry-content img.alignright {
  float: right;
  margin: 0 0 5px 15px;
}
.entry-content video,
.entry-content object {
  max-width: 100%;
  height: auto;
}
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px;
}
/* end .entry-content */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */

}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}
/* end .wp-caption */
/* image gallery styles */
/* end .gallery */
/* gallery caption styles */
/* dropkick */
.getmore select {
  width: 360px;
}
.getmore .dk_container {
  background: #fff;
  padding: 7px;
  display: inline;
  float: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
}
.dk_container:focus {
  outline: 0;
}
.dk_container a {
  cursor: pointer;
  text-decoration: none;
}
/* Opens the dropdown and holds the menu label 
    
    
*/
.dk_toggle {
  background: url(../images/arrow-light-blue.png) right 8px no-repeat;
  padding-right: 20px;
  color: #2cafe2;
  font-weight: bold;
  width: 100% !important;
}
.getmore .dk_toggle {
  background: url(../images/arrow-dark-blue.jpg) right 13px no-repeat;
  color: #003E7E;
  text-align: left;
}
/* Applied when the dropdown is focused */
/* Applied whenever the dropdown is open */
.dk_open {
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */

  z-index: 10;
}
/* The outer container of the options */
.dk_options {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
.dk_options a {
  background-color: #fff;
  border-bottom: 1px solid #999;
  font-weight: bold;
  padding: 8px 10px;
}
.dk_options li:last-child a {
  border-bottom: none;
}
.dk_options a:hover,
.dk_option_current a {
  background-color: #0084c7;
  border-bottom-color: #004c72;
  color: #fff;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}
/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  border: 1px solid #8c8c8e;
  border-bottom-width: 2px;
  border-bottom-color: #999;
  color: #333;
  max-height: 360px;
  text-shadow: #fff 0 1px 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  margin: 0;
  -webkit-overflow-scrolling: touch
}
/* Set a max-height on the options inner */
/*.dk_options_inner,
.dk_touch .dk_options {
  max-height: 420px;
}*/
/* core dropkick */
.dk_container {
  display: none;
  float: right;
  position: relative;
}
.location-choice .dk_container {
    margin-left: 15px;
}
.dk_container a {
  outline: 0;
}
.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}
.dk_open {
  position: relative;
}
.dk_open .dk_options {
  display: block;
}
.dk_open .dk_label {
  color: inherit;
}
.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 200px;
}
.getmore .dk_options {
  width: 374px;
  text-align: left;
  font-size: 14px;
}
.dk_options a,
.dk_options a:link,
.dk_options a:visited {
  display: block;
}
.dk_options_inner {
  overflow-y: scroll;
  /* position: relative; */
  position:absolute;
    bottom: 100%;
}
/*.dk_touch .dk_options {
  overflow: hidden;
}
.dk_touch .dk_options_inner {
  max-height: none;
  overflow: scroll;
}*/
.dk_fouc select {
    margin-top: 12px;
    position: relative;
    top: -99999em;
    visibility: hidden;
    width: 298px;
}
.gform_body .dk_container {
  border: 1px solid #c9d2d7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 7px 10px;
  float: left;
}
.gform_body .dk_options {
  width: 382px;
}
.gform_body .dk_toggle {
  color: #263138;
}
/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/
.page-navigation,
.wp-prev-next {
  margin: 1.1em 0 2.2em;
}
.bones_page_navi {
  /* current page link */

  /* end .bones_page_navi .bpn-current */

  /* common styles for page-navi links */

  /* remove the bg on end links */

  /* previous link */

  /* next page link */

  /* first page link */

  /* last page link */

}
.bones_page_navi li {
  float: left;
  margin-left: 10px;
}
.bones_page_navi li a {
  padding: 3px 6px;
  display: block;
  text-decoration: none;
  position: relative;
}
.bones_page_navi li a:hover,
.bones_page_navi li a:focus {
  color: #f01d4f;
  text-decoration: underline;
}
.bones_page_navi li.bpn-current {
  padding: 3px 6px;
  border-bottom: 2px solid #f01d4f;
  position: relative;
}
.bones_page_navi li.bpn-current a {
  /* hovering on current page link */

}
.bones_page_navi li.bpn-prev-link,
.bones_page_navi li.bpn-next-link {
  font-weight: 700;
}
.bones_page_navi li.bpn-prev-link a,
.bones_page_navi li.bpn-next-link a {
  padding: 0;
}
.bones_page_navi li.bpn-prev-link a:hover,
.bones_page_navi li.bpn-next-link a:hover,
.bones_page_navi li.bpn-first-page-link a:hover,
.bones_page_navi li.bpn-last-page-link a:hover {
  background: none;
}
/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left;
}
.wp-prev-next .next-link {
  float: right;
}
/* end .wp-prev-next */
/******************************************************************
10. COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments {
  /* number of comments span */

}
.commentlist {
  /* general comment classes */

  /* vcard */

  /* end .commentlist .vcard */

  /* comment meta */

  /* comment content */

  /* end .commentlist .comment_content */

  /* comment reply link */

  /* end .commentlist .comment-reply-link */

}
.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px;
  /* end .commentlist li ul.children */

}
.commentlist li:last-child {
  margin-bottom: 0;
}
.commentlist li ul.children {
  margin: 0;
  /* variations */

  /* change number for different depth */

}
.commentlist li[class*=depth-] {
  margin-top: 1.1em;
}
.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
.commentlist li:not(.depth-1) {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 0;
  padding-bottom: 0;
}
.commentlist .odd {
  background: #eee;
}
.commentlist .even {
  background: #fefefe;
}
.commentlist .vcard {
  margin-left: 50px;
}
.commentlist .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
.commentlist .vcard time {
  float: right;
}
.commentlist .vcard time a {
  color: #999;
  text-decoration: none;
}
.commentlist .vcard time a:hover {
  text-decoration: underline;
}
.commentlist .vcard img.avatar {
  position: absolute;
  left: 10px;
  padding: 2px;
  border: 1px solid #cecece;
  background: #fff;
}
.commentlist .comment_content {
  margin-left: 50px;
}
.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
.commentlist .comment-reply-link {
  text-decoration: none;
  float: right;
  background: #4598bb;
  padding: 3px 5px;
  color: #fff;
  opacity: 0.65;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.9em;
}
.commentlist .comment-reply-link:hover,
.commentlist .comment-reply-link:focus {
  opacity: 1;
}
/* end .commentlist */
/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;
}
.respond-form form {
  margin: 0.75em 0;
}
.respond-form form li {
  list-style-type: none;
  clear: both;
  margin-bottom: 0.7335em;
}
.respond-form form li label,
.respond-form form li small {
  display: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 3px 6px;
  background: #efefef;
  border: 2px solid #cecece;
  line-height: 1.5em;
  /* form validation */

}
.respond-form form input[type=text]:focus,
.respond-form form input[type=email]:focus,
.respond-form form input[type=url]:focus,
.respond-form form textarea:focus {
  background: #fff;
}
.respond-form form input[type=text]:invalid,
.respond-form form input[type=email]:invalid,
.respond-form form input[type=url]:invalid,
.respond-form form textarea:invalid {
  outline: none;
  border-color: #fbc2c4;
  background-color: #f6e7eb;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url] {
  max-width: 400px;
  min-width: 250px;
}
.respond-form form textarea {
  resize: none;
  width: 97.3%;
  height: 150px;
}
/* comment submit button */
/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em;
}
/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}
/* no comments */
.nocomments {
  margin: 0 20px 1.1em;
}
/*********************
12. SIDEBARS & ASIDES
*********************/
.sidebar {
  padding-top: 30px;
}
.sidebar .sidebar-phone {
  background: url(../images/phone-blue2.png) left center no-repeat;
  padding-left: 30px;
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
  color: #003E7E;
  margin: 0;
  font-weight: bold;
}
.widgettitle {
  margin-bottom: 0.75em;
  font-size: 16px;
  color: #2f5266;
  text-transform: uppercase;
}
.widget {
  padding: 0 10px;
  margin: 0 0 2.2em 0;
  font-size: 13px;
}
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */

}
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}
.widget_w_findhelp {
    background: #c1d7e3;
    padding: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.widget_w_findhelp h4 {
    border-bottom: 1px solid #003E7E;
}
.widget_w_findhelp input[type="text"] {
  margin-right: 5px;
}
/*********************
13. FOOTER STYLES
*********************/
.footer {
  clear: both;
  background: #c1d7e3;
}
.footer .top-footer-nav {
  background: #3f4c54;
  padding: 15px 0;
}
.footer .top-footer-nav #menu-bottom-nav {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
.footer .top-footer-nav #menu-bottom-nav li {
  display: inline;
  margin: 0 10px;
  font-size: 14px;
}
.footer .top-footer-nav #menu-bottom-nav li a {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.footer .top-footer-nav #menu-bottom-nav li a:hover {
  text-decoration: underline;
}
.footer #inner-footer #menu-footer-nav {
  text-align: center;
  margin-bottom: 0;
}
.footer #inner-footer #menu-footer-nav li {
  display: inline;
  margin: 0 10px;
}
.footer #inner-footer #menu-footer-nav li a {
    color: #003E7E;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.footer #inner-footer #menu-footer-nav li a:hover {
  text-decoration: underline;
}
.footer #inner-footer .footer-flag {
    color: #003E7E;
    font-family: "Montserrat",sans-serif;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}
.footer #inner-footer .copyright {
  font-size: 12px;
  text-align: center;
}
/*
    if you checked out the link above:
    http://www.alistapart.com/articles/organizing-mobile/
    you'll want to style the footer nav
    a bit more in-depth. Remember to keep
    it simple because you'll have to
    override these styles for the desktop
    view.
    */
/* end .footer-links */
.counsellor-minibox {
  clear: both;
  margin-bottom: 20px;
  height: auto;
  overflow: hidden;
}

.counsellor-minibox img {max-width: 81px; height: auto;}

.counsellor-minibox .ctitle {
  margin-bottom: 0;
  font-size: 130%;
}
.counsellor-minibox .ctitle a {
    text-decoration: none;
}
.counsellor-minibox .clocs {
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
}
.counsellor-minibox .clocs a {
    text-decoration: none;
}
.counsellor-minibox .clocs a:hover {
    text-decoration: underline;
}

.counsellor-minibox .ctitle strong {
     position: relative;
    top: -3px;
}

p.service-area {
    clear: both;
    display: none;
    float: left;
    font-weight: bold;
    margin-bottom: 13px;
    margin-top: -10px;
    padding-left: 96px;
    width: 100%;
}

body.page-template-page-service p.service-area {
    display: block;
}

.single-counsellor h1.entry-title {
    color: #003E7E;
}

.counsellor-minibox img {
  float: left;
  margin-right: 15px;
  margin-bottom: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

img.counsellorpic {
    max-width:210px; 
    height: auto; 
    margin-bottom:15px;
    margin-right: 20px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.profilepic {
    float: left;
    min-height: 320px;
}
    
.profile-left {
  float: left;
  width: auto;
}

.profile-left img {
  float: left;
  margin-right: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}


.qualifications {
  font-style: italic;
  font-size: 1em;
}
.profile-right {
  width: auto;
  margin-left: 15px;
  margin-bottom: 15px;
}
.appts p {
    clear:right;
  font-family: 'Montserrat', sans-serif;
  color: #2f5266;
  margin-bottom: 5px;
}
.profile-right ul {
  margin: 0;
}
.Phone,
.Skype,
.Office,
.Medicare,
.MentalHealthCarePlan,
.BulkBill,
.PrivateHealthInsurance {
  background: url(../images/icons.jpg) -41px 0 no-repeat;
  display: block;
  height: 34px;
  width: 25px;
  text-indent: -9999px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.Skype, .Skype a {
  background-position-x: 0px;
  background-position: 0px;
  width: 35px;
  text-indent: -9999px;
  display: block;
}
.Office {
  background-position-x: -74px;
  background-position: -74px 0;
  width: 38px;
}
.Medicare {
  background-position-x: -201px;
  background-position: -201px 0;
  width: 33px;
}
.MentalHealthCarePlan {
  background-position-x: -161px;
  background-position: -161px 0;
  width: 32px;
}
.BulkBill {
  background: url("../images/bulkbilling-icon.jpg") no-repeat scroll 0 1px / 32px auto rgba(0, 0, 0, 0);
  width: 32px;
}
.PrivateHealthInsurance {
  background: url("../images/privateHealthInsurance.svg") no-repeat scroll 0 1px / 32px auto rgba(0, 0, 0, 0);
  width: 32px;
  display:none;
}
.phi.PrivateHealthInsurance {
  display: block;
}

.Phone, .Skype {
    text-indent: 0;
}
.Phone a {
    text-indent: -9999px;
    display: block;
    height: 34px;
    width: 25px;
}
#inner-content input[type=text],
#inner-content input[type=email],
#inner-content input[type=url],
#inner-content textarea {
  padding: 7px 10px;
  background: #fff;
  border: 1px solid #c9d2d7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 16px;
  font-family: "Lato";
}
#inner-content input[type=submit],
#inner-content button {
  padding: 4px 10px;
  background: #2fb0e7;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#second-content .byline {
  margin-bottom: 0;
  color: #003E7E;
  font-style: italic;
}

.widget_w_findhelp .dk_container {
    padding: 4px 10px;
  background: #fff;
  border: 1px solid #c9d2d7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 16px;
  float: left;
   display: block;
}
.widget_w_findhelp .dk_toggle {
    width: 209px !important;
    font-weight: normal;
    color: #aaa;
}

.widget_w_findhelp input[type=text] {
    width: 231px;
}

.widget_w_findhelp input[type=submit] {
    height: 68px;
    float: right;
}

.widget_w_findhelp .dk_options li {
    margin-bottom: 0 !important;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
.onecol {
  width: 60px;
}
/* 4.85%;  } /* grid_1  */
.twocol {
  width: 140px;
}
/* 13.45%; } /* grid_2  */
.threecol {
  width: 220px;
}
/* 22.05%; } /* grid_3  */
.fourcol {
  width: 300px;
}
/* 30.75%; } /* grid_4  */
.fivecol {
  width: 380px;
}
/* 39.45%; } /* grid_5  */
.sixcol {
  width: 460px;
}
/* 48%;    } /* grid_6  */
.sevencol {
  width: 540px;
}
/* 56.75%; } /* grid_7  */
.eightcol {
  width: 620px;
}
/* 65.4%;  } /* grid_8  */
.ninecol {
  width: 700px;
}
/* 74.05%; } /* grid_9  */
.tencol {
  width: 780px;
}
/* 82.7%;  } /* grid_10 */
.elevencol {
  width: 860px;
}
/* 91.35%; } /* grid_11 */
.twelvecol {
  width: 940px;
}
/* 100%;   } /* grid_12 */
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.first {
  margin-left: 0;
}
.last {
  margin-right: 0;
}

#gform_wrapper_1 .dk_options {
    left: 0 !important;
}

span#input_1_12_3_container label,
span#input_1_12_6_container label {
    display: none;
}

.logos {
    margin: 20px auto auto;
    width: 845px;
    text-align: center;
    background: #fff;
    padding: 10px 0 7px 0;
}

.logos h3 {
    display: inline;
    /*float: left;*/
    font-size: 16px;
    margin: 0 5px 0 0;
    /*padding-top: 10px;*/
    position: relative;
    top: -17px;
}

.logos img {
    margin: 0 8px;
}



.header #navigation {
  background: #2fb0e7;
  height: 40px;
  position: relative;
  margin-top: -24px;
}

.header nav {
    margin-top: -40px;
}



li#post-1713045366 {
    display: none;
}


/* New */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.tablet_down {
    display: none;
}

#mob_phone {
    display: none;
}


#breadcrumbs {
    font-size: 16px !important;
    margin-bottom: 25px;
}





.header #head-banner {
    padding-bottom: 35px;
    padding-top: 34px;
}

.header #head-banner .wrap {
    max-width: 690px;
}

p.getmore {
    float: left;
    font-size: 17px !important;
    margin: 0;
    padding-left: 0;
    position: relative;
    text-align: left;
    width: 350px;
}

p.getmore .dk_container {
    background: none repeat scroll 0 0 #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    display: block;
    float: none;
    margin: 12px 0;
    padding: 7px;
    width: 90%;
    text-align: center;
    max-width: 300px;
}

p.getmore .dk_toggle {
    background-position: right 9px;
    padding-right: 35px;
    width: 92% !important;
}

p.getmore .blue {
    color: #82bad4;
    font-size: 20px;
    position: absolute;
    right: -2px;
    top: 42px;
}

.getmore .dk_options {
    width: 100%;
    margin-top: 9px;
}


#sidebarMobile {
    margin: 0;
    padding: 0 0 0 26px;
    width: 330px;
}

.sidebar .widget_w_findhelp {
    background-color: transparent;
    display: block;
    margin: 0;
    padding: 0 0 0 0;
    text-align: left;
    width: 100%;
}

.sidebar .widget_w_findhelp h4 {
    border-bottom: 0 none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    margin-bottom: 10px;
}

.sidebar .widget_w_findhelp p {
    display:  none;
}

.sidebar .widget_w_findhelp input[type="text"] {    
    -webkit-border-radius: 5px;
    border-radius: 5px;    
    border: 0 none;
    font-size: 17px;
    margin-top: 2px;
    padding: 9px 15px;
    margin-right: 0;
    width: 81%;
}

.sidebar .widget_w_findhelp input[type="submit"] {
    background-color: #2fb0e7;
    background-image: url("../images/search-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    float: right;
    padding: 7px 8px;
    width: 17%;
    text-indent: -10000px;
}

.sidebar .widget_w_findhelp #dk_container_findhelpselect {
      display: none;
}



body.single-post .entry-content .alignright {
    margin-left: 35px;
}




.social {
    background-color: #d2e8f2;
    overflow: hidden;
    width: 100%;
    padding: 0 14px 0 20px;
    margin-bottom: 15px;
    margin-top: 7px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.social .left {
    border-right: 1px solid #a9c9d8;
    padding-bottom: 5px;
    padding-top: 13px;
}

.social .right {
    float: right;
    max-width: 307px;
    padding: 14px 0 0 18px;
    width: 46%;
}

.social > div {
    float: left;
    width: 50%;
}

.social p {
    color: #3180a5;
    float: left;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 12px;
}

.social a.at-share-btn,
.social a.at300b span {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.social #atftbx p {
    display: none;
}



#sidebar1 h4 {
    color: #2f5266;
}


#sidebar1 .widget_categories li {
    margin-bottom: 0;
}

#sidebar1 .widget_categories a {
    font-weight: 700;
    font-size: 16px;
}

#sidebar1 .popular-posts h3 {
    color: #003E7E;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    line-height: 25px;
}

#sidebar1 .popular-posts p {
    color: #263138;
    font-size: 16px;
    line-height: 24px;
}

#sidebar1 .popular-posts a {
    
}


footer .contact {
    float: none;
    margin: 35px auto;
    overflow: hidden;
    width: 680px;
}

footer div.left {
    border-right: 1px solid #79abc6;
    float: left;
    width: 375px;
}

footer div.left p {
    color: #303c44;
    font-family: "Montserrat",sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
}

footer div.right {
    float: left;
    padding-left: 25px;
    width: 37%;
}

footer div.right p {
    /*color: #3f4c54;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 3px;*/
    color: #003E7E;
    font-family: "Montserrat",sans-serif;
    font-size: 27px;
    font-weight: bold;
    line-height: 29px;
    margin-bottom: 18px;
    margin-top: 0;
    text-align: left;
}





footer div.right .addthis_32x32_style .at4-icon,
footer div.right .addthis_32x32_white_style .at4-icon,
footer div.right .at-32x32 {
    background-size: 50px auto !important;
    height: 50px;
    line-height: 50px;
    width: 50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

p.copyright {
    background-color: #ffffff;
    color: #303c44;
    font-family: "Lato",sans-serif;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}


.button.blue {
    background-color: #23afea !important;
    background-image: none;
    border: 0 none;
    color: #ffffff;
    display: block;
    float: none;
    font-family: "Montserrat",sans-serif;
    font-size: 20px;
    font-weight: 400 !important;
    margin: 30px auto auto;
    padding: 14px 22px;
    text-shadow: none;
    width: 330px;
}


p.arrowHold {
    clear: both;
    height: 24px;
    margin: auto;
    position: relative;
    top: 10px;
    width: 24px;
}

#logo span {
    float: left;
    font-family: "lato",sans-serif;
    font-size: 15px;
}

.mobile-only {
    display: none;
}

.page-template-page-find-nearby .widget_w_spotlight,
.page-template-page-find-nearby #logo span {
    display: none;
}

.location-box {
    border-bottom: 0 none !important;
}

.ui-widget-content {
    max-width: 360px;
}

#errorMessage {
    float: left;
    font-size: 12px;
    line-height: 14px;
    max-width: 300px;
    padding-left: 6px;
    padding-top: 5px;
    position: absolute;
    width: 100%;
}

.ui-widget-content {
    padding-bottom: 5px;
    padding-top: 5px;
}



@media only screen and (max-width: 960px) {

.header #navigation #navigation-white {
    display: none;
}

.tablet_up {
    display: none;
}

.tablet_down {
    display: block;
}


body {
    min-width: 0;
}

#container {
    width: 100%;
}

.wrap {
    width: 100% !important;
    max-width: 960px;
}


/* Header */
.header {
    width: 100%;
}

.header #inner-header {
    padding: 15px 20px 10px;
}

.header #logo {
    margin: 0;
    width: 40%;
}

.header #logo a {
    margin: auto;    
    background-size: 260px auto;
    height: 135px;
    width: 260px;    
}

.header #flaghead {
    margin: 0;
    width: 60%;
}

.header #navigation {
    width: 100%;
    background: none repeat scroll 0 0 transparent;
    margin-top: -8px;
}

.header #navigation #navigation-inner {
    width: 100%;
}

#mob_buttons {
    background-color: #2fb0e7;
    background-image: url("../images/nav-tail.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
}

#mob_menu {
    padding: 1px 9px 6px;
    position: absolute;
    right: 0;
    top: 0;
}

.header nav {
    margin-left: 0;
    margin-top: 0;
}

#menu-top-nav { 
    display: none;
}

.header #navigation {
    z-index: 9;
}

p.getmore {
    padding-left: 20px;
    width: 50%;
}

p.getmore .dk_container {
    width: 86%;
}

#sidebarMobile {
    padding: 0 20px 0 26px;
    width: 50%;
}


#menu-top-nav.open {
    background-color: #2fb0e7;
    background-image: none;
    display: block;
    height: auto;
    left: 0;
    margin: 0;
    padding: 5px 0;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 10;
}

.nav li {
    display: block;
    width: 100%;
}

#content #main {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    min-height: 0 !important;
}

.sidebar {
    width: 100%;
    margin: 0;
}

.sidebar .widgettitle {
    text-align: center;
    margin-bottom: 25px;
}

.counsellor-minibox {
    clear: none;
    float: left;
    height: auto;
    margin-bottom: 20px;
    padding: 5px 15px;
    width: 50%;
}

.counsellor-minibox:nth-child(2n+2) {
    clear: both;
}

#content #second-content .heading-wrap h2 {
    color: #003E7E;
    font-size: 18px;
    line-height: 20px;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}

#content #second-content #second {
    margin: 0;
}

#content #second-content #second article {
    padding: 5px 25px;
    width: 50%;
}

#content #second-content #second article:nth-child(2n+3) {
    clear: both;
}

.wpp-list {
    padding: 0 20px;
}


#map_canvas1 {
    width: 100% !important;
}



.entry-content {
    width: 100%;
}

article {
    width: 100%;
}

.twelvecol {
    width: 100%;
}

.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium,
.gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large, .gform_wrapper .top_label textarea.textarea,
.gform_body .dk_container {
    width: 100%;
}

.gform_body .dk_toggle {
    width: 98% !important;
}

.gform_body .dk_options {
    margin-top: 12px;
    width: 100%;
}


#content #second-content .hentry {
    margin-right: 0;
    width: 100%;
    height: auto;
}

.footer {
    width: 100%;
}

.footer .top-footer-nav #menu-bottom-nav {
    width: 100%;
}

.widget_recent_entries {
    text-align: center;
}

.widget_w_appointment {
    text-align: center;
}

.sidebar .sidebar-phone {
    margin: 0 auto;
    max-width: 280px;
}

.logos {
    width: 100%;
}

.logos h3 {
    float: left;
    top: 0;
    width: 100%;
    font-size: 16px;
    margin: 10px 0 15px;
}


footer .contact {
    width: 90%;
}

footer div.left {
    padding-right: 25px;
    width: 53%;
}

footer div.right {
    width: 45%;
}

p.copyright {
    text-align:left;
    padding-left: 15px;
}

.footer .location-choice {
    max-width: 50%;
    min-width: 200px;
    margin-left: 30px;
}


}

@media only screen and (max-width: 640px) {

.not-mobile {
    display: none;
}

.mobile-only {
    display: block;
}

#mob_phone {
    display: block;
}

.header #inner-header {
    padding-top: 10px;
    padding-bottom: 3px;
}
/* was padding-top: 45px; */

iframe {height: 200px;}

/*
.header #flaghead {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
*/
.header #flaghead {display:none;}

.footer .location-choice {
    text-align: right;
    color: #003E7E;
    font-size: 16px;
    margin-top: 0;
    margin-left: 0;
    float: none;
    max-width: 100%;
    width: 100%;
    background: #fff;
    padding-top: 10px;
    
}

.header #flaghead .location-choice {
    background-color: #fff;
    left: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 7px 15px 9px;
    position: absolute;
    text-align: right;
    top: 0;
    width: 100%;
    font-size: 14px;
}
/* was baby blue #dde9f0; */

.header #flaghead .location-choice {
  color: #fff;
}
.header #flaghead .location-choice:hover {color: #ccc;}
.location-choice .dk_label {}
.location-choice .dk_label:hover {}





.header #flaghead .location-choice .dk_container {
    margin-left: 9px !important;
}

.header #flaghead .phone {
    display: none;
}

.header #logo {
    margin: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 6;
}

.header #navigation {
    margin: 0;
    position: absolute;
    top: 0;
}
/* was top: 37px; */

.header #navigation #navigation-inner {
    margin: 0 auto;
    position: relative;
    z-index: 15;
}

body.home #logo span {
    display: block !important;
}

#logo span {
    float: none;
    font-family: "lato",sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 5px auto 7px;
    max-width: 205px;
    text-align: center;
    width: 100%;
    display: none;
}


#mob_buttons {
    background-image: url("../images/nav-tail-reverse.jpg");
    width: 125px;
    z-index: 7;
}

#mob_phone {
    padding: 8px 6px 1px 4px;
    position: absolute;
    right: 57px;
}

span.border {
    background-color: #a4d0e0;
    height: 20px;
    position: absolute;
    right: 50px;
    top: 10px;
    width: 1px;
}

.header #head-banner {
    height: 237px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#content #main {
}

p.getmore {
    padding-left: 17px;
    padding-right: 17px;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px !important;
    margin-bottom: 2px;
}

p.getmore .dk_container {
    width: 100%;
    max-width: 640px;
    margin: 4px 0 12px;
}

p.getmore .blue {
    bottom: -6px;
    font-size: 25px;
    margin-right: -19px;
    right: 50%;
    font-size: 25px;
    top: auto;
}

#sidebarMobile {
    padding: 0 17px 7px;
    width: 100%;
}


.sidebar .widget_w_findhelp {
   width: 100%;
}

.sidebar .widget_w_findhelp h4 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 2px;
}

p.head {
    font-size: 30px;
    font-family: "Montserrat",sans-serif;
     
}


.counsellor-minibox {
    width: 100%;
}


#content #second-content #second article {
    clear: none !important;
    float: left;
    width: 100%;
}

.entry-content img {
    width: 100%;
}

.entry-content ul, .entry-content ol {
    margin-left: 16px;
}


.profile-left {
    width: 100%;
}

.profile-right {
    margin-top: 8px;
    width: 100%;
}

.widget_services_offered {
    text-align: center;
}

.page-template-default .entry-content img.alignleft {
    max-width: 81px;
}

.ctitle img {
     max-width: 81px;
}

#second-content .bottom-content {
    margin: auto;
    overflow: hidden;
    width: 90% !important;
}

#content #second-content #second article {
    padding: 0 20px;
}

#second-content .bottom-content .entry-content .alignleft,
#second-content .bottom-content .entry-content img.alignleft {
    margin: 0 11px 5px 0;
    width: 115px;
}

.button.blue {
    font-size: 17px;
    padding: 13px 12px;
    width: 270px;
}


.couns .widget_w_appointment {
    display: none;
}

.widget {
    padding: 0;
}

.couns .counsellor-minibox {
    background-color: #d7e7f1;
    border-bottom: 1px solid #efefef;
    margin-bottom: 13px;
    padding: 15px 15px 0;
}

p.searchHead {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 24px;
}

.sidebar.couns {
    margin: 0;
    padding-top: 0;
}

#sidebar1.couns h4 {
    text-align: left;
}

.widget_w_locationcounsellors {
    display: none;
}

.couns .widget_w_locationcounsellors {
    display: block !important;
}

.couns .widget_w_locationcounsellors h4.widgettitle {
    display: none;
}


body.single-post .entry-content .alignright {
    float: left;
    margin-left: 0;
}

.social .left {
    width: 100%;
    border-right: 0 none;
}

.social .right {
    float: left;
    padding: 15px 0;
    width: 100%;
}

footer div.right p {
    text-align: center;
}

.footer .top-footer-nav {
    overflow: hidden;
}

.footer .top-footer-nav #menu-bottom-nav {
    width: 78%;
}

.footer .top-footer-nav #menu-bottom-nav li {
    float: left;
    margin: 0;
    padding-bottom: 7px;
    padding-right: 30px;
    padding-top: 7px;
    text-align: left;
    width: 50%;
    line-height: 14px;
}

.footer .top-footer-nav #menu-bottom-nav li a {
    font-size: 14px;
    line-height: 14px;
}

.logos {
    width: 95%;
}

.footer #inner-footer nav {
    border-bottom: 1px solid #89aec3;
    border-top: 1px solid #89aec3;
    margin-bottom: 20px;
    margin-top: 23px;
    padding-bottom: 25px;
    padding-top: 7px;
}

.footer #inner-footer .footer-flag {
    margin-bottom: 13px;
}

.footer #inner-footer center {
    margin: auto auto 15px;
    width: 90%;
}

.footer #inner-footer .copyright {
    font-size: 15px;
    margin: auto;
    width: 78%;
}

footer div.left {
    border-right: 0 none;
    padding-right: 0;
    text-align: center;
    width: 100%;
}

.footer #inner-footer .footer-flag {
    text-align: center;
}

footer div.right {
    padding-left: 0;
    width: 100%;
    text-align: center;
}

footer div.right .addthis_toolbox {
    margin: auto;
    max-width: 163px;
}


}

@media only screen and (max-width: 500px) {

.profilepic {
    float:none;
    min-height: 165px;
    }
 
 .profile-right {
     float: none;
     margin-left: 0;
     }

}



@media only screen and (max-width: 380px) {
    .ui-widget-content {
        max-width: 320px;
    }
}


/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after,
  a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after,
  a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}



#getmorego {
  padding: 7px 15px;
  background: #2fb0e7;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.location-box {
    border-bottom: 1px solid #003E7E;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.location-box:last-child {
    border: none;
}

.location-address {
    font-weight: bold;
}

.clrpics {
    clear: both;
}

.clrpics img {
    display: inline;
    margin-right: 10px;
}

span.loctip {
      position: absolute;
      top: 30px;
      right: 20px;
      width: 230px;
      height: auto;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: rgb(113, 157, 171);
      background: rgb(255, 255, 255);
      border: 3px solid rgb(47, 176, 231);
      -webkit-border-radius: 5px;
              border-radius: 5px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.180392) 1px 1px 25px 5px;
              box-shadow: rgba(0, 0, 0, 0.180392) 1px 1px 25px 5px;
}

span.loctip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #2fb0e7 transparent;
      top: -20px;
      left: 190px;
}

span.loctip img {
    position: absolute;
    top: -5px;
    right: -5px;
}

.populate-posts .dk_options {
    left: 0;
}

#breadcrumbs {
    font-size: 10px;
}

::-webkit-scrollbar {

    width: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-track {
    background-color: rgba(57,57,57, .6);
    -webkit-border-radius: 8px;
            border-radius: 8px;
}
#inner-footer center {
  font-size: 20px;
  font-weight: bold;
}
