/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

------------ MAP ------------

01. GENERAL STYLES
02. WORDPRESS BODY CLASSES
03. LAYOUT & GRID STYLES
04. LINK STYLES
05. H1, H2, H3, H4, H5 STYLES
06. HEADER SYTLES
07. NAVIGATION STYLES
08. POSTS & CONTENT STYLES
09. PAGE NAVI STYLES
10. COMMENT STYLES
11. COMMENT FORM STYLES
12. SIDEBARS & ASIDES
13. FOOTER STYLES

******************************************************************/




/*********************
01. GENERAL STYLES
*********************/

html, body {
	/* height: 100%; */
}
body {
	font-family: @serif;
	font-size: 100%;
	line-height: 1.5;
	color: #263138;
	min-width: 960px;
}

/********************
02. WORDPRESS BODY CLASSES
    style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
03. LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 960px;
	margin: 0 auto;
}
#container {}

/*********************
04. LINK STYLES
*********************/

a, a:visited {
	color: @link-color;

	/* on hover */
	&:hover, &:focus {
		color: @link-hover;
		text-decoration: none;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
05. H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: @header-font;
	text-rendering: optimizelegibility;
	font-weight: 400;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 12px;
}

h2, .h2 {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 12px;
}

h3, .h3 {
	font-size: 1.125em;
	margin: 0 0 12px;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
	margin: 0 0 12px;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 0 12px;
}

p {
	margin: 0 0 16px;
}

/*********************
06. HEADER SYTLES
*********************/

.header {
	#inner-header {}

	#logo {
		margin: 10px 0 0;
	
		a {
			text-indent: -9999px;
			background: url(../images/life-supports-counselling-logo.png) no-repeat;
			display: block;
			width: 323px;
			height: 156px;
			position: relative;
			z-index: 10;
		}
	}
	
	#flaghead {
		text-align: right;
		
		.location-choice {
			color: #2cafe2;
			font-size: 16px;
			margin-top: 15px;
			
			select {
				width: 200px;
			}
		}
		
		.phone {
			color: #303e90;
			font-size: 27px;
			line-height: 1;
			font-weight: bold;
			margin-top: 25px;
			
			span {
				color: #959499;
				font-size: 18px;
				font-weight: normal;
			}
		}
	}
	
	#navigation {
		background: #2fb0e7;
		height: 40px;
		position: relative;
		margin-top: -25px;
		
		#navigation-white {
			height: 40px;
			width: 50%;
			background: #fff;
			position: absolute;
			left: 0;
			z-index: 1;
		}
		
		#navigation-inner {
			width: 960px;
			margin: 0 auto;
			z-index: 2;
			position: relative;
		}
	}
	
	#head-banner {
		background: #003E7E;
		color: #fff;
		font-size: 17px;
		text-align: center;
		
		.getmore {
			font-size: 24px;
			font-family: @header-font;
		}
	}

	nav {
		margin-top: -41px;
		.nav {
			background: #2fb0e7 url(../images/nav-tail.jpg) top left no-repeat;
			border: 0;
			height: 40px;
			padding-left: 60px;
			float: right;
		
			li {
				float: left;
				position: relative;
		
				a {
					border-bottom: 0;
					font-family: @header-font;
		
					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {
						color: #003E7E;
					}
				}
		
				&:first-child {}
				&:last-child {}
		
				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					margin-top: 0;
					border: 1px solid #ccc;
					border-top: 0;
					position: absolute;
					display: none;
					z-index: 8999;
		
					li {
		
						a {
							padding-left: 10px;
							border-right: 0;
							display: block;
							width: 180px;
							border-bottom: 1px solid #ccc;
		
							&:hover,
							&:focus {}
		
							&:link {}
						}
		
						&:first-child {}
		
						&:last-child {
		
							a {
								border-bottom: 0;
							}
						}
		
						/*
						if you need to go deeper, go nuts
						just remember deeper menus suck
						for usability. k, bai.
						*/
						ul {}
					}
		
					/* highlight sub-menu current page */
					li.current-menu-item,
					li.current_page_item,
					li.current-page-ancestor {
						a {}
					}
				}
		
				/* showing sub-menus */
				&:hover ul {
					top: auto;
					display: block;
				}
		
			} /* end .menu ul li */
		
			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  /* end current highlighters */
		
		} /* end .nav */
	}
}

/*********************
07. NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	
	ul {
		margin: 0;
	}

	li {

		a {
			display: block;
			text-decoration: none;
			padding: 10px 10px;
			color: #fff;
			text-transform: uppercase;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
08. POSTS & CONTENT STYLES
*********************/

#content {
	

	#inner-content {
		background: rgb(232,241,247); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZjFmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2QwZTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2QwZTNlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGYxZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(232,241,247,1) 0%, rgba(208,227,238,1) 10%, rgba(208,227,238,1) 90%, rgba(232,241,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,241,247,1)), color-stop(10%,rgba(208,227,238,1)), color-stop(90%,rgba(208,227,238,1)), color-stop(100%,rgba(232,241,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(232,241,247,1) 0%,rgba(208,227,238,1) 10%,rgba(208,227,238,1) 90%,rgba(232,241,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(232,241,247,1) 0%,rgba(208,227,238,1) 10%,rgba(208,227,238,1) 90%,rgba(232,241,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(232,241,247,1) 0%,rgba(208,227,238,1) 10%,rgba(208,227,238,1) 90%,rgba(232,241,247,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(232,241,247,1) 0%,rgba(208,227,238,1) 10%,rgba(208,227,238,1) 90%,rgba(232,241,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f1f7', endColorstr='#e8f1f7',GradientType=0 ); /* IE6-8 */
	}
	
	#second-content {
		background: #dde9f0;
		padding-bottom: 20px;
		
		.heading-wrap {
			background: #c1d7e3;
			margin-bottom: 20px;
			
			h2 {
				width: 960px;
				margin: 0 auto;
				font-size: 22px;
				line-height: 40px;
				padding-left: 10px;
			}
		}
		
		.hentry {
			width: 45%;
			margin-right: 5%;
			float: left;
			margin-bottom: 20px;
			
			h3 a {
				color: #263138;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	#main {
		padding: 30px 10px;
		background: #fff;
		margin-left: 0;
		margin-right: 0;		
		width: 640px;
	}
}

		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		.single-title,
		.page-title {}

		.single-title {}

		.page-title {}

		.archive-title { }

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: #999;

			time {}
		}

		/* entry content */
		.entry-content {

			p {}


			ul, ol, table, dl {}

			ul, ol {
				margin-left: 45px;

				li {}

			}

			ul {

				li {
					list-style: disc;
				}

			}

			ol {

				li {
					list-style: decimal;
				}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {
				float: left;
				margin: 0 15px 5px 0;
			}
			.alignright, img.alignright {
				float: right;
				margin: 0 0 5px 15px;
			}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}


/* dropkick */
.getmore select {
	width: 360px;
}
.getmore .dk_container {
	background: #fff;
	padding: 7px;
	display: inline;
	float: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
  .dk_container:focus {
    outline: 0;
  }
  .dk_container a {
    cursor: pointer;
    text-decoration: none;
  }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  background: url(../images/arrow-light-blue.jpg) right 10px no-repeat;
  padding-right: 20px;
  color: #2cafe2;
  font-weight: bold;
  width: 360px !important;

}

.getmore .dk_toggle {
	background: url(../images/arrow-dark-blue.jpg) right 13px no-repeat;
	color: #003E7E;
  text-align: left;
	
}
  .dk_toggle:hover {

  }
  /* Applied when the dropdown is focused */
  .dk_focus .dk_toggle {

  }
  .dk_focus .dk_toggle {

  }

/* Applied whenever the dropdown is open */
.dk_open {

  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
}
  .dk_open .dk_toggle {

  }

/* The outer container of the options */
.dk_options {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
  -moz-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, .2) 0 2px 8px;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
  .dk_options a {
    background-color: #fff;
    border-bottom: 1px solid #999;
    font-weight: bold;
    padding: 8px 10px;
  }
  .dk_options li:last-child a {
    border-bottom: none;
  }
  .dk_options a:hover,
  .dk_option_current a {
    background-color: #0084c7;
    border-bottom-color: #004c72;
    color: #fff;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, .5) 0 1px 0;
  }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  border: 1px solid #8c8c8e;
  border-bottom-width: 2px;
  border-bottom-color: #999;
  color: #333;
  max-height: 360px;
  text-shadow: #fff 0 1px 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  
  margin: 0;
}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 420px;
}

/* core dropkick */
.dk_container {
  display: none;
  float: right;
  position: relative;
}
  .dk_container a {
    outline: 0;
  }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
}
  .dk_open .dk_options {
    display: block;
  }
  .dk_open .dk_label {
    color: inherit;
  }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 200px;
}
.getmore .dk_options {
	width: 374px;
	text-align: left;
	font-size: 14px;
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
  }

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

.gform_body .dk_container {
	border: 1px solid #c9d2d7;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 7px 10px;
	float: left;
}

.gform_body .dk_options {
	width: 382px;
}

.gform_body .dk_toggle {
	color: #263138;
}


/******************************************************************
09. PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

			a {
				/* hovering on current page link */
				&:hover,
				&:focus {}

			}

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

		/* previous link */
		li.bpn-prev-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* next page link */
		li.bpn-next-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* first page link */
		li.bpn-first-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

		/* last page link */
		li.bpn-last-page-link {
			a {
				&:hover,
				&:focus {}
			}
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
10. COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
11. COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
12. SIDEBARS & ASIDES
*********************/

.sidebar {
	padding-top: 30px;
	
	.sidebar-phone {
		background: url(../images/phone-blue.png) left center no-repeat;
		padding-left: 30px;
		font-size: 34px;
		font-family: @header-font;
		color: #003E7E;
		margin: 0;
		font-weight: bold;
	}
}

	.widgettitle {
		margin-bottom: 0.75em;
		font-size: 16px;
		color: #2f5266;
		text-transform: uppercase;
	}

	.widget {
		padding: 0 10px;
		margin: 0 0 2.2em 0;
		font-size: 13px;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

.widget_w_findhelp {
	input[type="text"] {
		margin-right: 5px;
	}
}

/*********************
13. FOOTER STYLES
*********************/

.footer {
	clear: both;
	background: #c1d7e3;
	
	.top-footer-nav {
		background: #3f4c54;
		padding: 15px 0;
		
		#menu-bottom-nav {
			width: 860px;
			margin: 0 auto;
			text-align: center;
			
			li {
				display: inline;
				margin: 0 10px;
				
				a {
					text-transform: uppercase;
					color: #fff;
					text-decoration: none;
					font-family: @header-font;
				}
				
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	#inner-footer {
		#menu-footer-nav {
			text-align: center;
			margin-bottom: 0;
			
			li {
				display: inline;
				margin: 0 10px;
				
				a {
					color: #303c44;
					text-decoration: none;
					font-family: @header-font;
				}
				
				a:hover {
					text-decoration: underline;
				}
			}
		}
		
		.footer-flag {
			font-size: 27px;
			font-family: @header-font;
			text-align: center;
			margin-bottom: 5px;
		}
		
		.copyright {
			font-size: 12px;
			text-align: center;
		}
	}

}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}



.counsellor-minibox {
	clear: both;
	margin-bottom: 20px;
	height: 132px;
	overflow: hidden;
	
	.ctitle {
		margin-bottom: 0;
	}
	
	img {
		float: left;
		margin-right: 15px;
	}
}

.profile-left {
	float: left;
	width: 400px;
	
	img {
		float: left;
		margin-right: 20px;
	}
	
	.qualifications {
		font-style: italic;
		font-size: 14px;
	}
}

.profile-right {
	float: right;
	width: 200px;
	margin-bottom: 15px;
	
	p {
		clear: both;
		font-family: @header-font;
		color: #2f5266;
		margin-bottom: 5px;
	}
	
	ul {
		margin: 0;
	}
}

.Phone, .Skype, .Office, .Medicare, .MentalHealthCarePlan, .BulkBill {
	background: url(../images/icons.jpg) -41px 0 no-repeat;
	display: block;
	height: 34px;
	width: 25px;
	text-indent: -9999px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.Skype { background-position-x: 0px; width: 35px; }
.Office { background-position-x: -74px; width: 38px; }
.Medicare { background-position-x: -201px; width: 33px; }
.MentalHealthCarePlan { background-position-x: -161px; width: 32px; }
.BulkBill { background-position-x: -120px; width: 32px; }


#inner-content input[type=text],
#inner-content input[type=email],
#inner-content input[type=url],
#inner-content textarea {
	padding: 7px 10px;
	background: #fff;
	border: 1px solid #c9d2d7;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 16px;
}

#inner-content input[type=submit],
#inner-content button {
	padding: 7px 10px;
	background: #2fb0e7;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
	font-family: @header-font;
	font-size: 16px;
}

#second-content .byline {
	margin-bottom: 0;
	color: #003E7E;
	font-style: italic;
}