/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/

.onecol    { width: 60px;  }       /* 4.85%;  } /* grid_1  */
.twocol    { width: 140px; }       /* 13.45%; } /* grid_2  */
.threecol  { width: 220px; }       /* 22.05%; } /* grid_3  */
.fourcol   { width: 300px; }       /* 30.75%; } /* grid_4  */
.fivecol   { width: 380px; }       /* 39.45%; } /* grid_5  */
.sixcol    { width: 460px; }       /* 48%;    } /* grid_6  */
.sevencol  { width: 540px; } /* 56.75%; } /* grid_7  */
.eightcol  { width: 620px; }  /* 65.4%;  } /* grid_8  */
.ninecol   { width: 700px; }        /* 74.05%; } /* grid_9  */
.tencol    { width: 780px; }  /* 82.7%;  } /* grid_10 */
.elevencol { width: 860px; }       /* 91.35%; } /* grid_11 */
.twelvecol { width: 940px; }       /* 100%;   } /* grid_12 */

// layout & column defaults
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.first {
  margin-left: 0;
}

.last {
  margin-right: 0;
}
